<div class="container-fluid">

	<form class="form-search">
		<div class="row">
		  <div class="form-group col-xs-4">
		    <label for="accountNumber">Account number</label>
		    <input type="text" maxlength="20" class="form-control" id="accountNumber" placeholder="Enter account number" ng-model="accountNumber">
		  </div>
		</div>
		<div class="row">
			<div class="form-group col-xs-4">
	  		<button class="btn btn-primary" ng-click="searchAccount()">Get Balance</button>
	  	</div>
	  </div>
	</form>

	<form class="form-horizontal" ng-if="balanceData">
	  <div class="form-group">
	    <label class="control-label col-sm-2">Account Holder:</label>
	    <div class="col-sm-10">
	      <p class="form-control-static">{{balanceData.holder}}</p>
	    </div>
	    <label class="control-label col-sm-2">Account Number:</label>
	    <div class="col-sm-10">
	      <p class="form-control-static">{{balanceData.accountNumber}}</p>
	    </div>
	    <label class="control-label col-sm-2">Balance:</label>
	    <div class="col-sm-10">
	      <p class="form-control-static">{{balanceData.balance | currency}}</p>
	    </div>
	    <label class="control-label col-sm-2">Updated at:</label>
	    <div class="col-sm-10">
	      <p class="form-control-static">{{balanceData.updateDate | date : 'dd/MM/yyyy HH:mm:ss'}}</p>
	    </div>
	    <div class="control-label col-sm-2">
  			<button class="btn btn-primary" ng-click="goToTransactions()">Go to transactions</button>
  		</div>
	  </div>
	</form>	

</div>